<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <!--<meta http-equiv="Content-Security-Policy" content="default-src 'self'"> -->
    <meta http-equiv="Content-Security-Policy: script-src maps.googleapis.com;img-src data: maps.gstatic.com *.googleapis.com *.ggpht">
    <title>Reall© alpha</title>
    <% if (htmlWebpackPlugin.options.nodeModules) { %>
      <script>
        require('module').globalPaths.push('<%= htmlWebpackPlugin.options.nodeModules.replace(/\\/g, '\\\\') %>');
      </script>
    <% } %>
</head>
<body>
    <div id="app" class="wrapper"></div>
<!--     <% if (!htmlWebpackPlugin.options.isBrowser && !htmlWebpackPlugin.options.isDevelopment) { %> -->
<!--       <script> -->
<!--         window.__static = require('path').join(__dirname, '/static').replace(/\\/g, '\\\\'); -->
<!--       </script> -->
<!--     <% } %> -->
    <!-- webpack builds are automatically injected -->
<!--     <script src="./build/js/app.js"></script> -->
</body>
</html>